# --------------------------------------------------------------------------
# Systemd service Definition for pi-webradio-pirate-audio.service.
#
# The service just starts the script /usr/local/bin/webradio_pirate-audio.py
#
# Author: Bernhard Bablok
# License: GPL3
#
# Website: https://github.com/bablokb/pi-webradio
#
# --------------------------------------------------------------------------

[Unit]
Description=pi-webradio for pirate-audio client
After=pi-webradio.service

[Service]
Type=simple
User=XXX
ExecStart=/usr/local/bin/webradio_pirate_audio.py -q -k -e -o

[Install]
WantedBy=network.target
