work
*.pyc
TODO
Bayern1.jpg
Bayern2.jpg
Bayern3.png
BR-Klassik.png
BR24.png
BR24live.png
france-musique-la-baroque.png
DLF-Kultur.png
Klassik-im-Konzert.png
MDR-Klassik.png
NDR-Info.png
NDR-Kultur.png
SR2.png
SWR2.png
WDR3.png
hr2-Kultur.png
rbb-Kultur.png
Bremen-Zwei.png
.idea/